/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default is 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15    // default is 10

#define AS(keycode) &as LS(keycode) keycode

/ {

    combos {
        compatible = "zmk,combos";

        enter-combo {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18>;
        };

        esc-combo {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        game-layer {
            bindings = <&to 4>;
            key-positions = <6 7 8>;
            layers = <0>;
        };

        disable-game-layer {
            bindings = <&to 0>;
            key-positions = <26 27 28>;
            layers = <4>;
        };
    };

    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        f_mt: f_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "F_MT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  F  |  P  |  B  |     |  J  |  L   |  U   |  Y   | ; |
// |  A  |  R  |  S  |  T  |  G  |     |  M  |  N   |  E   |  I   | O | 
// |  Z  |  X  |  C  |  D  |  V  |     |  K  |  H   | , | . | / |
//             | GUI | LWR | SPC |     | ENT | RSE  | BSPC |
                        display-name = "Base";
                        bindings = <
                               //AS(Q) AS(W) AS(F) AS(P) AS(B)     AS(J)   AS(L)  AS(U)     AS(Y)     AS(APOS)
                               //AS(A) AS(R) AS(S) AS(T) AS(G)     AS(M)   AS(N)  AS(E)     AS(I)     AS(O)
                               //AS(Z) AS(X) AS(C) AS(D) AS(V)     AS(K)   AS(H)  AS(COMMA) AS(DOT)   AS(FSLH)
    &kp Q   &kp W   &kp F   &kp P   &kp B         &kp J   &kp L    &kp U   &kp Y   &kp SEMI
    &mt LGUI A   &mt LCTRL R   &mt LALT S   &kp T   &kp G         &kp M   &kp N    &kp RALT E &mt RCTRL I &mt RGUI O
    &kp Z   &kp X   &kp C   &kp D   &kp V         &kp K   &kp H    &kp COMMA   &kp DOT   &kp FSLH
           &kp LSHFT &kp SPACE &mo 1         &mo 3   &mo 2  &kp BSPC
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// | !     |  @  |  #  |  $  |  %  |     |  ^  |  &  |  *  |  (  |  )  |
// | BT1   | BT2 | BT3 | BT4 | BT5 |     | LFT | DWN |  UP | RGT |     |
// | BTCLR |     |     |     |     |     |     |     |     |     |     |
//               | GUI |     | SPC |     | ENT | ESC | TAB |
                        display-name = "BT";
                        bindings = <
   &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT        &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR  &kp RPAR
   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &kp LEFT  &kp DOWN  &kp UP          &kp RIGHT &trans 
   &bt BT_CLR   &trans       &trans       &trans       &trans           &trans    &trans    &trans          &trans    &trans 
                             &kp LGUI     &trans       &kp SPACE        AS(RET)   &kp ESC   &kp TAB
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// | 1! |  2@ |  3# |  4$ |  5% |     |  6^ |  7& |  8* |  9(  |  0)  |
// | -_ |  =+ |  {  |  [  |  (  |     |  )  |  ]  |  }  |  /?  |  \|  |
// | `~ |     |     |  ,< |  :  |     |  ;  |  .> | CTRL| META |      |
//            | GUI | ESC | SPC |     | ENT |     | TAB |
                        display-name = "SYM";
                        bindings = <

   AS(N1)    AS(N2)    AS(N3)    AS(N4)    AS(N5)        AS(N6)    AS(N7)    AS(N8)    AS(N9)   AS(N0)
   AS(MINUS) AS(EQUAL) &kp LBRC  &kp LBKT  &kp LPAR      &kp RPAR  &kp RBKT  &kp RBRC  AS(FSLH) AS(BSLH)
   AS(GRAVE) &trans    &trans    AS(COMMA) &kp COLON     &kp SEMI  AS(DOT)   &kp LCTRL &kp RALT &trans
                       &kp LGUI  &kp ESC   &kp SPACE     AS(RET)   &trans    &kp TAB
                        >;
                };

                mouse_layer {
                        display-name = "Mouse";
                        bindings = <

   &trans   &msc SCRL_UP   &mmv MOVE_UP   &msc SCRL_DOWN  &trans          &kp K_VOLUME_DOWN2 &kp K_VOLUME_UP2 &kp C_BRIGHTNESS_DEC &kp C_BRIGHTNESS_INC    &trans 
   &trans   &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &trans          &kp C_PREV &C_NEXT &kp C_PLAY_PAUSE   &trans    &trans
   &trans   &trans         &trans         &trans          &trans          &trans    &trans    &trans      &trans    &trans
                           &trans         &mkp RCLK       &mkp LCLK       &trans    &trans    &trans
                        >;
                };

                game_layer {
// -----------------------------------------------------------------------------------------
// | Q | W | F | P | B |     | J | L | U | Y | ; |
// | A | R | S | T | G |     | M | N | E | I | O | 
// | Z | X | C | D | V |     | K | H | , | . | / |
// | CTRL | SHFT | SPC |     | ENT | GUI | BKSP |
                        display-name = "Game";
                        bindings = <

    &kp Q   &kp W   &kp F   &kp P   &kp B               &kp J   &kp L    &kp U   &kp Y   &kp SEMI
    &kp A   &kp R   &kp S   &kp T   &kp G               &kp M   &kp N    &kp E   &kp I   &kp O
    &kp Z   &kp X   &kp C   &kp D   &kp V               &kp K   &kp H    &kp COMMA   &kp DOT   &kp FSLH
            &kp LCTRL  &kp LSHFT   &kp SPACE       &kp RET &kp LGUI &kp BSPC
                        >;
                };

                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };
};
